.account-manager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions {
    margin: 15px;
}

table {
    width: 50%;
    margin-bottom: 60px;
}
