<div class="loading-dock">
  <table>
    <tr>
      <td>Load Account.cls: </td>
      <td>
        <input name="account" type="file" class="file-connection" required (change)="fileHandler($event)" />
      </td>
    </tr>
    <tr>
      <td>Load Category.cls: </td>
      <td>
        <input name="category" type="file" class="file-connection" required (change)="fileHandler($event)" />
      </td>
    </tr>
    <tr>
      <td>Load Transaction.cls: </td>
      <td>
        <input name="transaction" type="file" class="file-connection" required (change)="fileHandler($event)" />
      </td>
    </tr>
  </table>
</div>
