<div>
  <app-connect-bar></app-connect-bar>
  <table>
    <tr>
      <td>Load Account.cls: </td>
      <td>
        <input type="file" class="file-connection"
          placeholder="Please input the file address from your Account spreadsheet"
          required (change)="fileHandler($event)"/>
      </td>
    </tr>
    <tr>
      <td>Load Category.cls: </td>
      <td>
        <input type="file" class="file-connection"
          placeholder="Please input the file address from your Category spreadsheet"
          required (change)="fileHandler($event)"/>
      </td>
    </tr>
    <tr>
      <td>Load Transaction.cls: </td>
      <td>
        <input type="file" class="file-connection"
        placeholder="Please input the file address from your Transaction spreadsheet"
        required (change)="fileHandler($event)"/>
      </td>
    </tr>
  </table>
  <router-outlet></router-outlet>
</div>
