<div class="transaction-table">
  <div>
    <button mat-raised-button (click)="newTransaction()" class="actions">Add Transaction</button>
    <button mat-raised-button (click)="newTransfer()" class="actions">Add Transfer</button>
    <button mat-raised-button color="warn" (click)="deleteTransaction()" class="actions">Delete Transaction</button>
  </div>

  <table mat-table [dataSource]="transactions" class="mat-elevation-z8" matSort
    (matSortChange)="sortTransaction($event)">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- SELECT column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"></mat-checkbox>
      </td>
    </ng-container>
    <!-- DATE column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
      <td mat-cell *matCellDef="let element">
        <input matInput [matDatepicker]="picker" [(ngModel)]="element.date" (change)="updateTransactions()"
          style="width: 75px" />
        <mat-datepicker #picker></mat-datepicker>
      </td>
    </ng-container>
    <!-- AMOUNT column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </th>
      <td mat-cell *matCellDef="let element">
        <input matInput [(ngModel)]="element.amount" (change)="updateTransactions()" style="width: 60px" />
      </td>
    </ng-container>
    <!-- ACCOUNT column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNT </th>
      <td mat-cell *matCellDef="let element">
        <input matInput [(ngModel)]="element.account" (change)="updateTransactions()" style="width: 60px" />
      </td>
    </ng-container>
    <!-- TYPE column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORY </th>
      <td mat-cell *matCellDef="let element">
        <input matInput [(ngModel)]="element.category" (change)="updateTransactions()" style="width: 60px" />
      </td>
    </ng-container>
    <!-- DESCRIPTION column-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let element">
        <input matInput [(ngModel)]="element.description" (change)="updateTransactions()" style="width: 150px" />
      </td>
    </ng-container>
  </table>
</div>
