<div class="overview">
  <div class="category">
    <table mat-table id="categories" [dataSource]="categories" name="categoryTable">
      <tr mat-header-row *matHeaderRowDef="categoryColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: categoryColumns;"></tr>
      <!-- NAME -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>
      <!-- EXPECTED -->
      <ng-container matColumnDef="expected">
        <th mat-header-cell *matHeaderCellDef> EXPECTED </th>
        <td mat-cell *matCellDef="let element"> {{ element.expected }} </td>
      </ng-container>
      <!-- ACTUAL -->
      <ng-container matColumnDef="actual">
        <th mat-header-cell *matHeaderCellDef> ACTUAL </th>
        <td mat-cell *matCellDef="let element"> {{ element.actual }} </td>
      </ng-container>
    </table>
    <p id="savings">You planned to save ${{ plannedSavings }}, you are saving ${{ savingMoney }}.</p>
  </div>
  <div class="accounts">
    <table mat-table id="accounts" [dataSource]="accounts" name="accountTable">
      <tr mat-header-row *matHeaderRowDef="accountColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: accountColumns;"></tr>
      <!-- NAME -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> VALUE </th>
        <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
      </ng-container>
    </table>
  </div>
</div>
