<div class="connect-bar">
  <p id="name">BUDGET TRACKER</p>
  <button mat-raised-button color="accent" (click)="saveFiles()">Save</button>
  <div class="navigate">
    <button mat-button (click)="openLoadingDock()">Loading Dock</button>
    <button mat-button (click)="openOverview()">Overview</button>
    <button mat-button (click)="openAccounts()">Accounts</button>
    <button mat-button (click)="openCategories()">Categories</button>
    <button mat-button (click)="openTransactions()">Transactions</button>
  </div>
</div>
