<div class="category-dialog">
  <form>
    <mat-form-field class="new-category">
      <mat-label>Name</mat-label>
      <input type="text" matInput [(ngModel)]="category.name" name="name" />
    </mat-form-field>
    <mat-form-field class="new-category">
      <mat-label>Code</mat-label>
      <input type="text" matInput [(ngModel)]="category.code" name="code" />
    </mat-form-field>
    <mat-form-field class="new-category">
      <mat-label>Expected</mat-label>
      <input type="number" matInput [(ngModel)]="category.expected" name="expected" />
    </mat-form-field>
  </form>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button [mat-dialog-close]="category">Ok</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
