<div class="transaction-table">
  <form class="new-transaction">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="date" placeholder="Enter the transaction's date"
        [(ngModel)]="newDate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="currency" placeholder="Enter the transaction's amount"
        [(ngModel)]="newAmount" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Account No.</mat-label>
      <input matInput type="number" placeholder="Enter the corresponding account no."
        [(ngModel)]="newAccount" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput placeholder="Enter the corresponding category's code" [(ngModel)]="newType" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Enter the transaction's description"
        [(ngModel)]="newDescription" />
    </mat-form-field>
    <button mat-raised-button (click)="addTransaction()">Add Transaction</button>
  </form>
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- SELECT column -->
    <!--ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)" </mat-checkbox>
      </td>
    </ng-container-->
    <!-- DATE column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
      <!--td mat-cell *matCellDef="let element"> {{element.date}} </td-->
    </ng-container>
    <!-- AMOUNT column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </th>
      <!--td mat-cell *matCellDef="let element"> {{element.amount}} </td-->
    </ng-container>
    <!-- ACCOUNT column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNT </th>
      <!--td mat-cell *matCellDef="let element"> {{element.account}} </td-->
    </ng-container>
    <!-- TYPE column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
      <!--td mat-cell *matCellDef="let element"> {{element.type}} </td-->
    </ng-container>
    <!-- DESCRIPTION column-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <!--td mat-cell *matCellDef="let element"> {{ element.description}} </td-->
    </ng-container>
  </table>
</div>>
