<div class="transaction-table">
  <h2>transactions</h2>
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- DATE column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> DATE </th>
      <!--td mat-cell *matCellDef="let element"> {{element.date}} </td-->
    </ng-container>
    <!-- AMOUNT column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> AMOUNT </th>
      <!--td mat-cell *matCellDef="let element"> {{element.amount}} </td-->
    </ng-container>
    <!-- ACCOUNT column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef> ACCOUNT </th>
      <!--td mat-cell *matCellDef="let element"> {{element.account}} </td-->
    </ng-container>
    <!-- TYPE column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> TYPE </th>
      <!--td mat-cell *matCellDef="let element"> {{element.type}} </td-->
    </ng-container>
    <!-- DESCRIPTION column-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <!--td mat-cell *matCellDef="let element"> {{ element.description}} </td-->
    </ng-container>
  </table>
</div>>
