<div class="transfer-dialog">
  <form>
    <mat-form-field class="new-transfer">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="transfer.from.date" name="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="new-transfer">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="transfer.to.amount" name="amount" />
    </mat-form-field>
    <mat-form-field class="new-transfer">
      <mat-label>From Account</mat-label>
      <mat-select [(ngModel)]="transfer.from.account" name="from">
        <mat-option *ngFor="let account of accounts" [value]="account.name">
          {{ account.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="new-transfer">
      <mat-label>To Account</mat-label>
      <mat-select [(ngModel)]="transfer.to.account" name="to">
        <mat-option *ngFor="let account of accounts" [value]="account.name">
          {{ account.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="new-transfer">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="transfer.from.description" name="description" />
    </mat-form-field>
  </form>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button [mat-dialog-close]="transfer">Ok</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
